stages:
  - build
  - deploy

build-cli:
  tags:
    - bare
  stage: build
  variables:
    IMAGE_NAME: "${CI_REGISTRY_IMAGE}/cli"
  script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker build -t "${IMAGE_NAME}:${CI_COMMIT_SHA}" -f Dockerfile .
  - docker push "${IMAGE_NAME}:${CI_COMMIT_SHA}"
  - docker tag "${IMAGE_NAME}:${CI_COMMIT_SHA}" "${IMAGE_NAME}:latest"
  - docker push "${IMAGE_NAME}:latest"

deploy-app:
  variables:
    IMAGE_DEPLOY: $CI_REGISTRY/saas2/core:latest
  tags:
    - bare
  stage: deploy
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker pull ${IMAGE_DEPLOY}
    - envsubst < ./app.yml > ./app-prod.yml
    - docker run -v `pwd`/app-prod.yml:/app.yml --rm ${IMAGE_DEPLOY} deploy --env=prod --config=/app.yml
  after_script:
    - rm ./app-prod.yml || true
    
